name: Release

on:
  push:
    branches:
      - master


jobs:
  release:
    runs-on: ubuntu-latest
    if: github.actor != 'github-actions[bot]'

    steps:
      - name: Checkout Git
        uses: actions/checkout@v6

      - name: Setup Nodejs
        uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org/

      - name: Install dependencies
        run: npm ci

      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
      - name: Bump version
        run: |
          npx @changesets/cli version
          VERSION=$(node -p "require('./package.json').version")
          git add .
          git commit -m "Release v${VERSION}"
      - name: Build & pack
        run: |
          npm run build
          npm pack

      # - name: Publish package
      #   run: npx @changesets/cli publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: artifact
          path: btsd-aitu-bridge-*.tgz  

      - name: Push changes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: git push origin HEAD --follow-tags